

/* this is a comment */
/* this is another comment */

body{
    background-color: rgb(149, 245, 140);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#main-nav{
    font-variant-caps:all-small-caps;
    font-size:1rem;
    
}

h1, h2 
{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(252, 145, 237);
    font-variant: small-caps; 
}

h1 {
    font-size: 2.75rem;
} 

h2 {
    font-size: 2.75rem;
}

p {
    font-size: 1.5rem ;
    color: rgb(173, 147, 147);
}

.journey-intro{
    color:rgb(131, 131, 235)
}