

/* this is a comment */
/* this is another comment */

/* Google Fonts

font-family: 'Corben', cursive;
font-family: 'Nobile', sans-serif;
*/


body{
    background-color: rgb(170, 214, 166);
    font-family: 'Nobile', sans-serif;
    font-weight: 50 ;
}

li {
    list-style: none;
}
 
.icon-row-1{
    height: 10vh;
    background-image: url(/img/halloween-horror\ icon.png);
    background-repeat: repeat-x;
}

#main-nav{
    font-variant-caps:all-small-caps;
    font-size:1rem;
    
}

#main-nav a:link {
    color: rgb(61, 47, 29)
}

#main-nav a:visited {
    color:rgb(0, 0, 0)
}

#main-nav a:hover {
    color:royalblue;
    background-color: rgb(255, 255, 255);
}

header{
    height: 80vh;
    background-image: url(/img/Halloween_Pumpkins_\(Unsplash\).jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

h1, h2 {
    font-family: 'Corben', cursive;
    color: rgb(221, 105, 206);
    font-variant: small-caps; 
    font-weight: 400;
}

h1 {
    font-size: 2.75rem;
} 

h2 {
    font-size: 2.75rem;
}

p {
    font-size: 1.5rem ;
    color: rgb(173, 147, 147);
}

.journey-intro{
    color:rgb(131, 131, 235)
}